<%= page_header("Show Board test feature") %>

<%= render :partial => 'action_links' %>

<div class="span10">
    <p>
    <b>Board:</b>
    <%= @board_test_feature.board %>
  </p>
    <p>
    <b>Name:</b>
    <%= @board_test_feature.name %>
  </p>
    <p>
    <b>score:</b>
    <%= @board_test_feature.score %>
  </p>
  </div>


