<%= page_header("Show board") %>

<%= render :partial => 'action_links' %>


<div class="span5">
    <p>
    <b>Name:</b>
    <%= @board.name %>
  </p>
    <p>
    <b>Description:</b>
    <%= @board.description %>
  </p>
</div>

<% if  @board.test_features.any? %>
    <div class="span5">
      <h2>Test Features</h2>
      <%= render :partial => 'board_test_features/list',
                 :locals => {:board_test_features => @board.test_features} %>
    </div>
<% end %>


