<%= simple_form_for([@board,@item]) do |f| %>
    <%= f.semantic_errors %>

    <%= f.input :board_id, collection: current_user.boards, prompt: false unless @board %>
    <%= f.input :title, :required => false %>
    <%= f.input :url, :required => false %>
    <%= f.input :image_url, :required => false %>
    <div class="form-inline">
      <% @item.test_results.each do |test_result| %>
          <%= f.simple_fields_for test_result, index: "", wrapper: false do |rf| %>
              <%= rf.input :result, label: test_result.board_test_feature.name, as: :boolean, wrapper: false %>
              <%= rf.input :board_test_feature_id, :as => :hidden %>
              <%= rf.input :user_id, :as => :hidden %>
              <%= rf.input :id, :as => :hidden unless test_result.new? %>
          <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
