<%= simple_form_for([@board,@item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :board_id, :collection => current_user.boards unless @board %>
    <%= f.input :url %>
    <%= f.input :notes, :as => :text, :input_html => { :rows => 8 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
