<%= simple_form_for([@board,@item]) do |f| %>
    <%= f.error_notification %>

    <%= f.input :board_id, collection: current_user.boards, prompt: false unless @board %>
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :image_url, :required => false %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
