<%= page_header("#{@board.try(:name)} Listing items") %>

<%= render :partial => 'action_links' %>

<div class="span10">

  <% @items.in_groups_of(3, false).each do |items| %>
      <ul class="thumbnails">
        <% items.each do |item| %>
            <li class="span3">
              <div class="thumbnail">
                <%= image_tag(item.image_url, :width => "190") %>
                <div class="caption">
                  <%= link_to truncate(item.url),item.url, popup: true  %>

                  <p><%= truncate(item.notes) %></p>

                  <div class="btn-group">
                    <%= link_to 'Show', {action: :show, id: item}, id: dom_id(item, :show),
                                class: 'btn btn-mini' %>
                    <%= link_to 'Edit', {action: :edit, id: item}, id: dom_id(item, :edit),
                                class: 'btn btn-mini btn-warning' if can? :update, item %>
                    <%= link_to 'Delete', {action: :destroy, id: item}, data: {confirm: 'Are you sure?'},
                                method: :delete, id: dom_id(item, :delete), class: 'btn btn-mini btn-danger' if can? :destroy, item %>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
  <% end %>

  <%= paginate @items %>
</div>


